@import "../common-styles/index";
.todoapp {
  width: 100%;
}
.pagination {
  display: flex !important;
  margin-top: 30px !important;
  justify-content: center;
}
body {
  background: $Background;
  height: auto;
}
html {
  height: auto;
}

.error {
  color: $error-color;
}

button:hover {
  opacity: 0.8;
}
a:hover {
  opacity: 0.8;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
