.todoapp {
  width: 100%;
  background: #EBEEF3;
}


.pagination {
    display: flex !important;
    margin-top: 30px !important;
    justify-content: center;
  }
 body {
   background: #EBEEF3;
 }

 .error {
   color:#F5222D;

 }